  <section class="world-portal">
<img src="./gaby.png" class="gabytar" alt="an illustration of the main character gaby">
 {{#each needs}}
    {{#if running}}
     <img class="needs-image" src="{{image}}.png" alt="illustarted {{image}} needs for gaby world">
     {{/if}}
    {{/each}}
  </section>