<section class="add-need-form">
  <form method="POST" action="/add-need" class="form">
    <label for="need">Need:</label>
    <input type="text" id="need" name="need" placeholder=" new need">
    <label for="expiry">Expiry:</label>
    <input type="text" id="expiry" name="expiry" placeholder="XX000">
    <label for="image">Image Number:</label>
    <input type="text" id="image" name="image" placeholder="0">
    
    <button class="purple-button">Add Need</button>
  </form>

<div class="home-nav">
  <a href="./"><button class="purple-button">Back Home</button></a>
</div>
</section>